*{
   margin: 0;
   padding: 0;
}

body{
   background-color: #f3f5f5;
}

/*header{
   position: fixed;
   width: 100%;
}*/

#heading{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   text-align: center;
   letter-spacing: 5px;
   line-height: 75px;
   background-image: url('header.jpg');
   color: white;
   font-family:'Poppins', cursive;
}

#container{
   margin-top: 175px;
}

#sidebar{
   float: left;
   position: fixed;
}

#sidebar a{
   display: block;
   position: relative;
   cursor: pointer;
}

#sidebar p{
   position: absolute;
   display: inline;
   width: 150px;
   font-family: 'Poppins', sans-serif;
   /*margin-left: 10px;*/
   top: 27px;
   left: 100px;
}

.sym-cont{
   width: 75px;
   height: 75px;
   margin-left: 25px;
   margin-bottom: 25px;
   overflow: hidden;
   transition: width 1s;
}
.sym-cont a {
   color:white;
}
.sym-cont:hover{
   width: 250px;
   border-radius: 50px;
   background-image: linear-gradient(#ae08ff, #9e44b3);
}

#home{
   width: 75px;
   height: 75px;
   border-radius: 50%;
   background-size: cover;
   background-repeat: no-repeat;
   margin-bottom: 25px;
   background-image: url('home.png');
}

#c-cpp{
   width: 75px;
   height: 75px;
   border-radius: 50%;
   background-size: cover;
   background-repeat: no-repeat;
   margin-bottom: 25px;
   background-image: url('c-cpp.png');
}

#java{
   width: 75px;
   height: 75px;
   border-radius: 50%;
   background-size: cover;
   background-repeat: no-repeat;
   margin-bottom: 25px;
   background-image: url('java.jpg');
}

#html-css{
   width: 75px;
   height: 75px;
   border-radius: 50%;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url('html5-css3.png');
}

#python{
   width: 75px;
   height: 75px;
   border-radius: 50%;
   background-size: cover;
   background-repeat: no-repeat;
   margin-bottom: 25px;
   background-image: url('python.jpg');
}

#main{
   float: right;
   width: 1200px;
   height: 100%;
}

#main #article-box{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

#main .article{
   background-color: white;
   margin-bottom: 1%;
   width: 1100px;
   border-radius: 5px;
   box-shadow: 2px 2px #c4c4be;
   transition: transform 0.5s;

}

#main .article:hover{
   transform: scale(1.025);
}

#main .inner-article{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#main .article-logo{
   width: 300px;
   height: 150px;
   background-image: url('c-cpp-code.jpg');
   background-size: cover;
   margin-right: 2.5%;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}

#main .article-title{
   display: contents;
   width: 100%;
   height: 100px;
   line-height: 25px;
   margin-top: 5%;
   margin-left: 5%;
}


@media all and (max-width: 670px) {
   #heading{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      text-align: center;
      letter-spacing: 5px;
      line-height: 50px;
      background-color: rgba(0,0,0,0.5);
      color: white;
   }
   #heading h1{
      font-size: 50px;
   }
   #main .article{
      background-color: white;
      margin-left: 66%;
      margin-bottom: 3%;
      width: 300px;
      height: 100px;
      border-radius: 15px;
      box-shadow: 2px 2px #ffff;
      transition: transform 0.5s;
   }
   #main .inner-article{
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;
   }
   #main .article-logo{
      width: 500px;
      height: 100%;
      background-image: url('c-cpp-code.jpg');
      background-size: cover;
      margin-right: 2.5%;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
   }
   #main .article-title{
      display: contents;
      font-size: 12px;
      line-height: 12px;
      width: 100%;
      height: 100px;
      margin-left: 5%;
   }
   #container{
      margin-top: 100px;
   }
   #home{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 25px;
      background-image: url('home.png');
   }
   #c-cpp{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 25px;
      background-image: url('c-cpp.png');
   }

   #java{
         width: 50px;
         height: 50px;
         border-radius: 50%;
         background-size: cover;
         background-repeat: no-repeat;
         margin-bottom: 25px;
         background-image: url('java.jpg');
   }

   #html-css{
         width: 50px;
         height: 50px;
         border-radius: 50%;
         background-size: cover;
         background-repeat: no-repeat;
         background-image: url('html5-css3.png');
   }

   #python{
         width: 50px;
         height: 50px;
         border-radius: 50%;
         background-size: cover;
         background-repeat: no-repeat;
         margin-bottom: 25px;
         background-image: url('python.jpg');
   }  
   .sym-cont{
      width: 50px;
      height: 50px;
      margin-left: 25px;
      margin-bottom: 25px;
      overflow: hidden;
      transition: width 1s;
   }

   .sym-cont:hover{
      width: 150px;
      border-radius: 50px;
      background-color: #ebfaf6;
   }

   #sidebar p{
      position: absolute;
      font-size: 12px;
      display: inline;
      width: 150px;
      font-family: 'Poppins', sans-serif;
      /*margin-left: 10px;*/
      top: 15px;
      left: 75px;
   }


}
.btnlike {
  box-shadow: 1px 1px 0 rgba(255,255,255,0.5) inset;
  border-radius: 3px;
  border: 1px solid;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  padding: 0 8px;
  position: relative;

  font-size: 12px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
/*
 * Counter button style
 */
.btnlike-counter { margin-right: 39px; }
.btnlike-counter:after,
.btnlike-counter:hover:after { text-shadow: none; }
.btnlike-counter:after {
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  background-color: #eee;
  padding: 0 8px;
  color: #777;
  content: attr(data-count);
  left: 100%;
  margin-left: 8px;
  margin-right: -13px;
  position: absolute;
  top: -1px;
}
.btnlike-counter:before {
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');

  background-color: #eee;
  border: 1px solid #d3d3d3;
  border-right: 0;
  border-top: 0;
  content: '';
  position: absolute;
  right: -13px;
  top: 5px;
  height: 6px;
  width: 6px;
  z-index: 1;
  zoom: 1;
}
/*
 * Custom styles
 */
.btnlike {
   margin-left:40px;
  background-color: #dbdbdb;
  border-color: #bbb;
  color: #666;
}
.btnlike:hover,
.btnlike.active {
  text-shadow: 0 1px 0 #b12f27;
  background-color: #9a12a0;
  border-color: #b12f27;
}
.btnlike:active { box-shadow: 0 0 5px 3px rgba(0,0,0,0.2) inset; }
.btnlike span { color: #9a12a0; }
.btnlike:hover, .btnlike:hover span,
.btnlike.active, .btnlike.active span { color: #eeeeee; }
.btnlike:active span {
  color: #b12f27;
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}